fastapi
uvicorn
python-multipart
torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0
numpy
Pillow
psutil
pycocotools
# decord or eva-decord (optional for macOS)
einops
transformers
safetensors
accelerate
fire
sentencepiece
diffusers
scikit-image
sqlmodel
sse-starlette
optimum-quanto>=0.2.4
